{% extends 'base.html.twig.php' %}



{% block side %}

<select id="form_area" name="form[area][]" required="required" class="form-control" multiple="multiple"><option value="1">area1</option><option value="2">area4</option><option value="3">area2</option><option value="4">area3</option></select>

<select id="form_rama" name="form[rama][]" required="required" class="form-control" multiple="multiple"><option value="1">rama1</option><option value="2">rama4</option><option value="3">rama6</option></select>


<select id="form_disciplina" name="form[disciplina][]" required="required" class="form-control" multiple="multiple"><option value="1">disciplina1</option><option value="2">disciplina3</option><option value="3">disciplina4</option><option value="4">disciplina5</option><option value="5">disciplina88</option></select>

 <form action="/areas/editarAreas/">
    <input type="submit" class="login login-submit" id="_submit" name="_submit" value="{{ 'registration.login.submit'|trans }}" />
</form> 

          <script>
              $("#form_area").change(function() {
                  var data = {
                    area_id: $(this).val()
                  };
                  alert(data[0])
                  $.ajax({
                      type: 'post',
                      url: '{{ path("select_ramas") }}',
                      data: data,
                      success: function(data,url) {
                          var $rama_selector = $('#form_rama');
                          alert(data);

                          $rama_selector.html('<option value="' + data[0].toString() + '">' + data[1].toString() + '</option>');
                          for (var i = 2, total = data.length; i < total;) {
                              $rama_selector.append('<option value="' + data[i] + '">' + data[i+1] + '</option>');
                              i=i+2;
                          }

                      }
                  });
              });
          </script>
          <script>
          $("#form_rama").change(function() {
              var data = {
                rama_id: $(this).val()
              };
              alert(data[0])
              $.ajax({
                  type: 'post',
                  url: '{{ path("select_disciplinas") }}',
                  data: data,
                  success: function(data,url) {
                      var $rama_selector = $('#form_disciplina');
                      alert(data);

                      $rama_selector.html('<option value="' + data[0].toString() + '">' + data[1].toString() + '</option>');
                      for (var i = 2, total = data.length; i < total;) {
                          $rama_selector.append('<option value="' + data[i] + '">' + data[i+1] + '</option>');
                          i=i+2;
                      }
                  }
              });
          });
          $("#form_disciplina").change(function() {
              var data = {
                disciplina_id: $(this).val()
              };
              alert(data[0])
              $.ajax({
                  type: 'post',
                  url: '{{ path("select_disciplinas") }}',
                  data: data,
                  success: function(data,url) {
                  }
              });
          });
      </script>

{% endblock %}