
/*modal fullscreen */

body {
  width: 98%%;
  overflow-x: hidden;
}

.content {
  height: 100%;
  overflow-x: hidden;
}

#cabecera {
  width: 100%;
  float: left;
  margin:0px;
  margin-left: 0%;
  padding: 0px;
    height: 13vh;
}

.goog-te-combo, .goog-te-banner *, .goog-te-ftab *, .goog-te-menu *, .goog-te-menu2 *, .goog-te-balloon * {
    display: none;
}

.skiptranslate {display: none;}

#imgID {
  height: 100%;
  width: 100%;
}

.blogShort{ border-bottom:1px solid #ddd; height: 46vh;}
.add{background: #333; padding: 10%; height: 300px;}

.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #34ca78;
    color: #fff;
}
.nav-sidebar .active a:hover {
    background-color: #37D980;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.btn-blog {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius:0;
    margin-bottom:10px;
    margin-right: 1%;
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#34ca78;
    border-color: #34ca78;
}
 h2{color:#34ca78;}
 .margin10{margin-bottom:10px; margin-right:10px;}

.form-group label{
    float: left;
}

#btn_atras {
  color: white;
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
}

#btnInfoMenu {
  color: white;
  float: right;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
  height: 20%;
}

#btn_atras:hover {
    color: blue;
}

#desSearch {
    color: black;
}

#desSearch:hover {
    color: blue;
}

#desSearch:focus {
    color: blue;
}


#custom-search-input{
    padding: 3px;
    border: solid 0px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

hr.hrStrong {
  border: 0;
  height: 2px;
  width: 101%;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#cabeceraBienvenida {
  text-align: center;
}

.btnOptions {
  margin-top: 1%;
}

.infoUser {
  margin-top: 8%;
}

/* mostrarItems */

.img_show {
  height: 30vh;
  width: 100%;
  float:left;
}

.descripcionItems {
  overflow-y: scroll;
  height: 30vh;
  width: 100%;
  float: left;
  margin-left: 2px;
}

.descripcionItem {
  overflow-y: scroll;
  height: 180px;
  width: 100%;
  float: left;
}


.modal-body textarea {
  height: 200px;
  overflow-y: scroll;
}

.btn {
  color: white;
}

.btnContactar {
  margin: 0%;
}

#linkAdmin {
  background-color: red;
  color: white;
}

#linkAdmin:hover {
  background-color: blue;
}

.ui-menu-item {
  width: 100%;
  height: 25%;
  padding: 0%;
  margin: 0%;
}

.ui-menu-item:hover {
  width: 100%;
  height: 25%;
  padding: 0%;
  color: blue;
  margin: 0%;
}

.ui-menu-item h4 {
  padding: 0%;
  margin: 0%;
  height: 10%;
  width: 100%;
  float: left;
}

.ui-menu-item .itemContent {
  width: 102.5%;
  height: 98%;
  margin: 0%;
  padding: 0%;
  float: left;
}

.ui-menu-item .itemContent:hover {
  width: 102.5%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  float: left;
}

#linkElement {
  width: 100%;
  height: 128px;
  padding: 0%;
  margin: 0%;
}

#ui-id-1 {
  height: 800px;
  overflow-y: scroll;
}

#ui-id-1 .h4 {
  height: 10%;
  width: 60%;
  float: left;
  padding: 0%;
  margin: 0%;
}

#ui-id-1 .descripcion {
  height: 118px;
  width: 99%;
  float: left;
  overflow-y: scroll;
}

#ui-id-1 .img_show {
  height: 120px;
  width: 100%;
  float: left;
  color: black;
}


#ui-id-1 .descripcion:hover {
  color: blue;
}


.ui-menu-item #searchSpace {
  padding: 0px;
  margin: 0px;
  border: 0;
  height: 4%;
  width: 100%;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  float: left;
}

#custom-search-input {
  width: 100%;
}

#search {
  width: 100%;
}

.h3Busqueda {
  margin:0%;
  padding:0%;
}

.hrBusqueda {
  margin: 1%;
  padding: 1%;
}


.hrMenu {
  padding: 0%;
  margin: 0%;
}

#cuerpoPrincipal {
  min-height: 87vh;
  width: 100%;
  float:left;
}


html {
    font-size: 20px;
}
.unbehaved-element {
    font-size: 2em;
}

.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}

#linkCerrar {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
}

#linkCerrarModal {
  margin-top: 0%;
  margin-bottom: 3%;
}

#modalCabecera {
  width: 100%;
  height: 100%;
}


.item_img {
  padding-left: 1%;
  height: 100%;
}

.modal {
  position: fixed;
  top: 0%;
  height: 100%;
  margin-left: 20px;
}

#deleteItem {
  background-color: red;
}

#deleteItem:hover {
  background-color: blue;
}

#deleteItem a {
  color: white;
}

#deleteItem a:hover {
  background-color: blue;
}


.divImg {
  height: 45%;
}

.divDes {
  height: 45%;
}

.btnItem {
  width: 100%;
  font-size: 100%;
}

.divInfoItem1 {
  padding-top: 0%;
  height: 35%;
}

.divInfoItem2 {
  padding-top: 0%;
  height: 30%;
}

.ulInfo {
  padding-top: -4%;
  height: 100%;
}

.liInfo {
  height: 50%;
  font-size: 100%;
  margin-left: 4%;
  margin-right: 4%;
}

.highcharts-background {
	fill: #efefef;
	stroke: #a4edba;
	stroke-width: 5px;
}

.imgExplicacion {
  width: 100%;
  height: auto;
}

.well p {
  text-align: left;
  font-size: 130%;
}

#pMenuInf {
  font-size: 110%;
}


.colMenu {
  height: 80%;
}

.btn {
  font-size: 100%;
}

@media(max-width: 1580px) {
  h1 {
    font-size: 300%;
  }

  h3 {
  font-size: 180%;
  }

  h2 {
  font-size: 180%;
  }

  .modal {
    font-size: 100%;
  }

}

@media(max-width: 1400px) {
  .modal {
    margin-left: 30%;
  }

}

@media(max-width: 1000px) {
  .modal {
    margin-left: 0%;
  }

}


@media(max-width: 1300px) {
  h1 {
    font-size: 180%;
  }

  h3 {
  font-size: 180%;
  }

  h2 {
  font-size: 180%;
  }

  .modal {
    font-size: 85%;
  }

}

@media(max-width: 1000px) {
  h1 {
    font-size: 130%;
  }

  h3 {
  font-size: 180%;
  }

  h2 {
  font-size: 180%;
  }

  .modal {
    font-size: 75%;
  }

  .liInfo {
    height: 50%;
    font-size: 80%;
  }


}

@media(max-width: 400px) {
  .btn {
    font-size: 80%;
  }
}

.rowItem {
  margin-left: 1%;
}

.imgItemPerfil {
  height: 180px;
  width: 100%;
}

.highcharts-text-outline {
  font-size: 1px;
}

.highcharts-point {
  width: 60;
}

.highcharts-label {
  color: black;
}

li.dropdown-submenu:hover ul{
display: block;
left: 100%;
}

.rowBuscador {
  background-color: #A9F5E1;
}

.btnPalabrasClave {
  font-size: 120%;
}

#form_palabrasClave {
  height: 20vh;
}

.bootstrap-select .dropdown-toggle {
  color: black;
}
