{% extends 'base.html.twig.php' %}

{% block side %}

            {% for rama in ramas  %}
              <p id="nombre"> {{ rama.getNombre() }} </p>
                {% for disciplina in rama.getDisciplinas()  %}
                  <p id="nombre"> {{ disciplina.getNombre() }} </p>
                {% endfor %}
            {% endfor %}

{% endblock %}
